.navtab {
  background-color: #272727;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 66px;
  width: 100%;
}

.navtab__row {
  margin: 0 auto;
  display: flex;
  gap: 24px;
}

.navtab__link {
  margin: 0;
  color: #fff;
  font-weight: 500;
  font-size: 11px;
  line-height: 16px;
  text-decoration: none;
  border-bottom: 1px solid white;
  transition: all 0.4s ease-in-out;
}

.navtab__link:hover {
  border-bottom: 1px dotted #272727;
}

@media (min-width: 520px) {
  .navtab__row {
    gap: 40px;
  }
}